.nav_button{
    border: solid 1px #FF4B63;
    color: #FF4B63;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 10px;;
}

.nav_button:hover {
    border: solid 1px #FF4B63;
    color: #FF4B63;
}